.zak{
  margin: 0 !important;
}
// CAROUSEL



.carousel-item img{
    width: 1000px;
    max-width:100%;
    max-height: 500px;
}

body {
    background-color: rgb(247, 247, 248);
    color: rgb(24, 24, 27);
  }

  a  {
    color: rgb(24, 24, 27);
  }

  a:hover  {
    color: red;
  }

  .navbar .navbar-toggler {
    color: rgba(0, 17, 255, 0.5);
    border-color: rgb(0, 0, 0);
}
.navbar-toggler {
    border: 2px solid transparent;
}
  
  .dark-mode {
    background-color: rgb(24, 24, 27);
    color: rgb(247, 247, 248);
  }

  .dark-mode a {
    color: rgb(247, 247, 248);
  }

  .dark-mode a:hover  {
    color: red;
  }

  .dark-mode .actu-detail{
      color: rgb(24, 24, 24);
  }