{% extends 'base.html.twig' %}

{% block title %}Communication{% endblock %}

{% block body %}

<div class="container">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Etudiant</th>
                <th>Objet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for message in messages %}
            <tr>
                <td><p class="text-center m-0">{{ message.sender }}</p></td>
                <td>
                    <p class="text-center m-0">{{ message.sujet }}</p>
                </td>

                <td class="">
                    <a href="" class="ml-2"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="{{ path('communication-detail', {'slug': message.id})}}" class="ml-3"><i class="fa fa-pencil"aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>


{% endblock %}